{
  "FirstName": "Your",
  "LastName": "Name",
  "ContactType": "PERSON",
  "OrganizationName": "Optional Organization Name",
  "AddressLine1": "123 Main Street",
  "AddressLine2": "Suite 100",
  "City": "Your City",
  "State": "CA",
  "CountryCode": "US",
  "ZipCode": "12345",
  "PhoneNumber": "+1.1234567890",
  "Email": "your@email.com",
  "ExtraParams": [
    {
      "Name": "BIRTH_DATE_IN_YYYY_MM_DD",
      "Value": "1990-01-01"
    }
  ]
}